@font-face {
  font-family: 'Rubik-Medium';
  src: url('../fonts/Rubik-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik-Light';
  src: url('../fonts/Rubik-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/Rubik-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('../fonts/Rubik-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

$rl: 'Rubik-light' , 'Arial', Sans-serif;
$rr: 'Rubik-Regular' , 'Arial', Sans-serif;
$rm: 'Rubik-Medium', 'Arial', Sans-serif;
$rb: 'Rubik-Bold', 'Arial', Sans-serif;


