@import "mixins";
@import "fonts";
 html {
    font-size: 14px;
}

body {
    background-color: black;
    font-family: $rr;
    color: white;
}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 10vh 5% 5vh;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
} 

.timer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: content-box;
    font-family: $rr;
    color: white;
    & > div:first-of-type {
        margin-left: auto;
        margin-right: 10px;
    }
    & > div:last-of-type {
        margin-right: auto;
        margin-left: 10px;
    }
    & > div {
        width: 23%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        box-sizing: content-box;
        & > .cont {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            top: 0;
            left: 0;
            position: absolute;
            & > span:first-of-type {
                padding-top: 36%;
                width: 100%;
                height: 100%;
                display: flex;
                font-size: 600%;
                color: white;
                justify-content: center;
                position: absolute;
                font-family: $rl;
                top: 0;
                left: 0;
                box-sizing: border-box;
            }
            & > span:last-of-type {
                width: 100%;
                height: 100%;
                padding-top: 62%;
                display: flex;
                font-size: 1vw;
                color: white;
                font-weight: 200;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                box-sizing: border-box;
            }
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    & > h1 {
        font-size: 5rem;
        @include mq(1000px, max) {
            font-size: 2.5rem;
        }
        text-align: center;
        font-weight: 900;
        margin: 10px auto;
        font-family: $rb;
    }
    & > p {
        font-size: 1.8rem;
        @include mq(500px, max) {
            font-size: 1.2rem;
        }
        text-align: center;
        font-weight: 400;
        margin: 10px auto;
    }
    & > a {
        padding: 15px;
        font-size: 1.8rem;
        @include mq(1000px, max) {
            font-size: 1rem;
        }
        text-align: center;
        font-weight: 700;
        background-color: white;
        text-decoration: none;
        width: 100px;
        color: rgb(7, 7, 34);
        border-radius: 5px;
        margin: 20px auto 0;
        &:hover {
            background-color: rgb(212, 209, 209);
        }
        &:active {
            transform: scale(0.99);
        }
    }
    & > a:first-of-type {
        width: auto;
        margin-bottom: 13px;
        padding: 15px 30px;
    }
}
